@page
@model ProyectoBase.App.Presentacion.Pages.Empresas.DeleteModel

@{
    int empresaId = Model.empresa.id;
}

<h2>Edición de los datos del empresa @Model.empresa.nombre @Model.empresa.telefono @Model.empresa.direccion @Model.empresa.ciudad</h2>
<form method="post">
    <input type="hidden" asp-for="empresa.id" />    
    
    <div class="form-group">
        <label asp-for="empresa.nit"></label>
        <input asp-for="empresa.nit" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="empresa.nit"></span>
    </div>
    <div class="form-group">
        <label asp-for="empresa.nombre"></label>
        <input asp-for="empresa.nombre" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="empresa.nombre"></span>
    </div>
    <div class="form-group">
        <label asp-for="empresa.direccion"></label>
        <input asp-for="empresa.direccion" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="empresa.direccion"></span>
    </div>
<div class="form-group">
        <label asp-for="empresa.telefono"></label>
        <input asp-for="empresa.telefono" class="form-control">
        <span class="text-danger" asp-validation-for="empresa.telefono"></span>
    </div>
    <div class="form-group">
        <label asp-for="empresa.ciudad"></label>
        <input asp-for="empresa.ciudad" class="form-control">
        <span class="text-danger" asp-validation-for="empresa.ciudad"></span>
    </div>
    <button type="submit" class="btn btn-danger">ELIMINAR</button>    
</form>

<a asp-page="./List" class="btn-default">Regresar a la lista de empresas </a>
